<!DOCTYPE html>
<html>
<head>
<title>Welcome to a2zol.com!</title>
<style>
 body {
 width: 35em;
 margin: 0 auto;
 font-family: Tahoma, Verdana, Arial, sans-serif;
 }
</style>
</head>
  <body>
	<h1>Welcome to a2zol.com!</h1>
	<p>Please reach me at ceetharamm@gmail.com.</p>
      <div class="row">
       <div class="box">
           <img alt="logo" class="logo" src="../static/images/docker.png">
           <h1>Containerize Python Application using Docker</h1> 
           <div class="row">
           <h1 class="name">DevOps CI/CD Pipeline</h1>
           </div>
       </div>
      </div>
      <section class="feature">
          <h1 class="welcome">Welcome to DevOps World</h1>
      </section>
  </body>
</html>